.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: #fff;
}

.main-header{
    position: relative;
    background: url(../img/biblioteca.jpg);
    background-size: cover;   
    min-height: 600px; 
}

.background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,36,58,.7)    
}

.form-control, .btn{
    border-radius: 0;
}

.card-img-top{
    min-height: 130px;
    height: 150px;
}

.team, footer{
    background: #30336b;
}